html {
    font-size: 80%; /* Reduce all font sizes to 80% of their original value */
}
body {
    font-family: Arial, sans-serif;
    text-align: center;
}

body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-image: transparent; /* Replace with your image path */
    background-size: cover; /* Ensures the image covers the entire background */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    background-position: center; /* Centers the image */
    color: white; /* Ensures text is visible on a dark image */
}

h1 {
    margin-top: 20px;
    color: #fcfcfc;
}

.charts-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 30px;
    flex-wrap: wrap;
    margin-top: 20px;
}

.chart-wrapper {
    width: 100%;
    max-width: 600px;
}

canvas {
    width: 100%;
    height: auto;
}

#detailChartContainer {
    display: none; /* Hidden by default */
}
