* {
  box-sizing: border-box;
}

body {
  scroll-behavior: smooth;
  background-image: url("../img/backgroundimg.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #fff;
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.aspect-ratio-wrapper {
  width: 100vw;
  height: 100vh;
  aspect-ratio: 16 / 9;
  margin: 0 auto;
  position: relative;
  background-image: url("../img/backgroundimg.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #fff;
  font-family: "Inter", sans-serif;
  scroll-behavior: smooth;
}

.section.zoom-container.active #earth-image {
  transform: translate3d(-50%, -50%, 0) scale(1);
  opacity: 1;
}

.zoom-container {
  position: relative;
  width: 100%;
  min-height: 200vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

#earth-image {
  width: 100%;
  max-width: 500px;
  transition: transform 0.1s ease, opacity 0.1s ease;
  transform: scale(0);
  opacity: 1;
}

#earth-image.background {
  position: fixed;
  top: 15%;
  left: 34%;
  transform: scale(4);
  z-index: 0;
  opacity: 1;
}

#earth-image.active {
  transform: scale(1);
  opacity: 1;
}

#narrative0 {
  left: 8%;
}

#narrative-011 {
  left: 8%;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

#earth-image.background.hidden {
  opacity: 0;
}

.section {
  position: relative;
  width: 100%;
  min-height: 200vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: transparent;
}

.section.narrative {
  min-height: 60vh;
  width: 100%;
}

#filler {
  min-height: 200vh;
}

.section.narrative .content {
  max-width: 70%;
  margin: auto;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(255, 255, 255, 0.1);
  opacity: 0;
  transform: translateY(20px);
  transition: all 0.6s ease-out;
  color: #fff;
}

.section.narrative.active .content {
  opacity: 1;
  transform: translateY(0);
}

.iframe-container iframe {
  width: 100%;
  height: 100vh;
  border: none;
  opacity: 0;
  transform: scale(0.9);
  transition: all 0.8s ease-in-out;
}

.iframe-container iframe.active {
  opacity: 1;
  transform: scale(1);
}

h2 {
  font-size: 2em;
  color: #fff;
  margin-bottom: 20px;
}

p {
  font-size: 1.2em;
  color: #ddd;
}

a {
  color: #1e90ff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.image-container {
  position: relative;
  width: 100%;
  min-height: 200vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

#kepler-image {
  position: fixed;
  width: 300px;
  max-width: 80%;
  transition: transform 0.1s ease-in-out;
  transform: translate(300%, -50%);
  z-index: 1;
  top: 50%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#plot3 {
  height: 100vh;
  overflow: hidden;
  width: 100%;
  box-sizing: border-box;
}

#plot3 iframe {
  height: 100%;
  width: 100%;
  border: none;
}

#pie {
  min-height: 60vh;
}

#plot1 {
  min-height: 60vh;
}

#plot2 {
  min-height: 60vh;
}