html,
body {
  height: 150vh;
  overflow-y: hidden;
  justify-content: center;
  align-items: center;
}

body {
  background: transparent;
  height: 100vh;
  color: #ffffff;
  font-family: "Inter", sans-serif;
  justify-content: center;
  align-items: center;
}

.text-center {
  text-align: center;
}

#myDataVis {
  overflow-x: auto;
  white-space: nowrap;
  width: 100%;
}

#customPlot_SVG {
  min-width: 2400px;
}

#customPlot_SVG {
  padding-left: 8px;
  background: transparent;
}

#spider_SVG {
  display: block;
  transform: scale(0.8);
  font-size: medium;
  height: 400px;
  width: 600px;
  overflow: visible;
  background: transparent;
  padding-bottom: 200px;
  margin-top: -70px;
}

#customPlot_toolTip {
  position: absolute;
  background-color: white;
  border: 1px solid black;
  border-radius: 7.5px;
  padding: 5px;
  opacity: 0;
  pointer-events: none;
  color: black;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 20px;
}

#spiderContainer {
  flex: 1;
  margin-right: 20px;
}

#detailsContainer {
  flex: 1;
  background-color: #222;
  padding: 20px;
  border-radius: 10px;
  color: white;
  opacity: 0.8;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#detailsContainer h2 {
  text-align: center;
  margin-bottom: 20px;
}

#planetDetails {
  line-height: 1.6;
}

#customPlot_SVG {
  min-width: 2400px;
  padding-left: 8px;
  background: transparent;
}

#customPlot_toolTip {
  position: absolute;
  background-color: white;
  border: 1px solid black;
  border-radius: 7.5px;
  padding: 5px;
  opacity: 0;
  pointer-events: none;
  color: black;
}
