html,
body {
  height: 150vh;
  overflow-y: hidden;
  justify-content: center;
  align-items: center;
}

body {
  background: transparent;
  height: 100vh;
  color: #ffffff;
  font-family: "Inter", sans-serif;
  justify-content: center;
  align-items: center;
}

.text-center {
  text-align: center;
}

#myDataVis {
  overflow-x: auto;
  white-space: nowrap;
  width: 100%;
}

#customPlot_SVG {
  min-width: 2400px;
}

#customPlot_SVG {
  padding-left: 8px;
  background: transparent;
}

#spider_SVG {
  display: block;
  margin: 0 auto;
  transform: scale(1);
  font-size: medium;
  height: 600px;
  width: 600px;
  overflow: visible;
  background: transparent;
}

#customPlot_toolTip {
  position: absolute;
  background-color: white;
  border: 1px solid black;
  border-radius: 7.5px;
  padding: 5px;
  opacity: 0;
  pointer-events: none;
  color: black;
}
